hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 0;
  padding: 0;
}

p, h1, h2, h3, h4, h5, ul, li {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#wrapper {
  width: 1152px;
  margin: 0 auto;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}

header {
  background-color: #fff;
}

header a:link, header a:visited {
  color: #5daad0;
  text-decoration: none;
}

#top-area {
  height: 50px;
  background-color: #f6f6f6;
  padding: 0 30px;
  line-height: 50px;
}

#action-bar {
  height: 55px;
  padding: 35px 0 0 30px;
  vertical-align: middle;
  position: relative;
  z-index: 2;
}

#action-bar a:link, #action-bar a:visited {
  color: #000;
}

#action-bar #logo-accent {
  color: #5daad0;
}

#action-bar #logo {
  float: left;
  margin-right: 100px;
  font-size: 20px;
}

#action-bar .dropdown {
  float: left;
  padding-right: 25px;
  margin-right: 25px;
  border-right: 1px dotted #aaa;
}

#action-bar .dropdown ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#action-bar .dropdown ul li {
  display: block;
  position: relative;
  float: left;
}

#action-bar .dropdown ul li ul {
  display: none;
}

#action-bar .dropdown ul li a {
  display: block;
  text-decoration: none;
  color: #5daad0;
  background-color: #fff;
  margin-left: 1px;
  white-space: nowrap;
  padding-left: 10px;
}

#action-bar .dropdown ul ul li a:link, #action-bar .dropdown ul ul li a:visited {
  color: #000;
}

#action-bar .dropdown ul ul li a:hover {
  color: #aaa;
}

#action-bar .dropdown li:hover ul {
  display: block;
  position: absolute;
  top: 100%;
  border: 1px solid #c3c3c3;
  padding: 5px;
  width: 160px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: #fff;
}

#action-bar .dropdown li:hover li {
  float: none;
  background-color: #fff;
}

#action-bar #search-form {
  float: left;
  padding-right: 25px;
  margin-right: 10px;
  border-right: 1px dotted #c3c3c3;
}

#action-bar #search-form .search {
  border: 1px solid #eee;
  padding: 5px 10px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#action-bar #search-form .submit {
  background-color: #f6f6f6;
}

/*-------signin styles------*/

#action-bar #signin li:hover ul {
  width: 115px;
}

#action-bar #view-cart {
  float: left;
}

#action-bar #view-cart a:link, #action-bar #view-cart a:visited {
  color: #5daad0;
}

#promo {
  height: 400px;
  padding: 0 30px;
  background-color: #172832;
}

#promo-details {
  float: left;
}

#promo img {
  float: right;
}

#promo h1 {
  color: #fff;
  font-size: 34px;
  margin-top: 50px;
  margin-bottom: 20px;
}

#promo p {
  color: #5daad0;
  font-size: 20px;
  margin-bottom: 50px;
}

/*-------Promo alt----------*/

#promo-alt {
  height: 400px;
  padding: 0 0 0 30px;
  background-color: #f6f6f6;
}

#promo1 {
  width: 65%;
  height: 100%;
  float: left;
  position: relative;
}

#promo1 h1 {
  color: #2e373f;
  font-size: 28px;
  padding-top: 35px;
  margin-bottom: 16px;
}

#promo1 p {
  color: #9dbb6f;
  margin-bottom: 50px;
  font-size: 20px;
}

#promo1 span.bold {
  font-weight: bold;
}

#promo1 img {
  position: absolute;
  top: 3%;
  left: 3%;
}

.default-btn {
  background-color: #5daad0;
  color: #fff;
  padding: 15px 35px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0px 5px 0px #467f9c;
  text-decoration: none;
}

.secondary-btn {
  background-color: #2e373f;
  color: #fff;
  padding: 15px 35px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0px 5px 0px #22292f;
  text-decoration: none;
}

/* IE7 Padding Fix */
.lt-ie8 .default-btn {
  display: inline-block;
}

#main-content {
  padding: 20px 0 0 30px;
}

#main-content h2, #main-content h3 {
  color: #2e373f;
  margin-bottom: 20px;
}

#main-content h3 {
  margin-bottom: 5px;
}

#main-content h3 a:link, #main-content h3 a:visited {
  color: #2e373f;
  text-decoration: none;
}

#main-content h5 {
  color: #5f5e5e;
  margin-bottom: 20px;
}

#main-content p {
  margin-bottom: 25px;
}

#main-content hr {
  margin-bottom: 20px;
}

#products {
  text-align: center;
}

.product {
  text-align: left;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-right: 70px;
  width: 200px;
  vertical-align: top;
}

.product .instock {
  color: #9dbb6f;
}

.product .outofstock {
  color: red;
}

.product img.feature {
  margin-bottom: 40px;
}

.cart-btn {
  padding: 10px 10px 10px 0;
  background-color: #5daad0;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

/* IE7 Button Padding Fix */
.lt-ie8 .cart-btn {
  display: inline-block;
  padding-bottom: 5px;
}

.cart-btn .price {
  background-color: #2e373f;
  padding: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
}

.cart-btn:link, .cart-btn:visited {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
}

.product .wish a:link, .product .wish a:visited {
  color: #5daad0;
  text-decoration: none;
  font-size: 14px;
}

footer h4 {
  color: #c3c3c3;
  margin-bottom: 15px;
}

footer #contact {
  background-color: #faf9f9;
  height: 167px;
  text-align: center;
}

footer #contact h3 {
  color: #2e373f;
  padding-top: 50px;
  margin: 0;
}

footer #contact a:link, footer #contact a:visited {
  color: #5daad0;
  text-decoration: none;
}

footer #links {
  text-align: center;
  padding: 20px 0;
}

footer #links a:link, footer #links a:visited {
  color: #2e373f;
  text-decoration: none;
}

footer #links ul {
  margin-left: 13px;
  list-style-image: url(../img/right-arrow.gif);
  padding: 0;
}

footer #my-account, footer #info, footer #extras {
  text-align: left;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
}

footer #my-account, footer #info {
  margin-right: 130px;
}

footer #copyright, footer #connect, footer #payments {
  float: left;
}

footer #copyright, footer #connect {
  margin-right: 130px;
}

footer #copyright {
  padding: 20px 30px;
}

footer #copyright #store-desc {
  color: #5f5e5e;
}

footer #copyright #store-copy {
  color: #c3c3c3;
}

footer #logo {
  font-size: 20px;
  margin-bottom: 20px;
}

footer #logo a:link, footer #logo a:visited {
  color: #2e373f;
  text-decoration: none;
}

footer #logo #logo-accent {
  color: #9c9c9c;
}

footer #connect a:link, footer #connect a:visited {
  color: #5daad0;
  text-decoration: none;
}

footer #connect h4, footer #payments h4 {
  margin-top: 25px;
}

footer #connect ul {
  padding-left: 0;
  margin-left: 30px;
}

footer #connect ul li.twitter {
  list-style-image: url(../img/twitter.gif);
}

footer #connect ul li.fb {
  list-style-image: url(../img/fb.gif);
}
